<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>


  <form name="layoutFrm">

   <input type="hidden" name="reqData" id="reqData" />

			<nav class="navbar navbar-default" role="navigation">
							<div class="navbar-header" onclick="javascript:hideMenu()">
								<button type="button" class="navbar-toggle">
									<span class="sr-only">Toggle navigation</span><span
										class="icon-bar"></span><span class="icon-bar"></span><span
										class="icon-bar"></span>
								</button>
								<a href="javascript:homePageLoad()"><i class="logo" title="Telstra"></i> </a>
							</div>
							</nav>

<!-- Toolbar -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="display:block">


								<!-- Modules loading start -->

								<ul class="nav navbar-nav mrg15T mrg5L">

								                  <li>
												    <a id="Anchr1" href="/user-manager">User Manager</a>
												  </li>
												  </ul>

</div>
</form>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
